*{
    padding: 0;
    margin: 0;
    
}
.navbar{
    background-color: currentColor;
    
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 18px;
    padding: 0;
    margin-left:20px;
    position: relative;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    font-weight: 400;
    color: #008ed6;
}


.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}



.card {
      box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
      margin: 0 45px;
      border: 3px solid #00CCE1;
      margin-bottom: 15px;
  }
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    border: 3px solid #F69165;
}

 
.card:hover h2{
    color: #F69165;

}
.card:hover a{
    background-color: #F69165;

}
 .card img{
   width: 100px;
   min-height: 100px;
   border-radius: 50%;
   margin: 0px 10px;
 } 
 .class_1{
   margin: 20px 0px;
   display: flex;
 }
 

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  .card a{
    text-decoration: none;
  }
  .card a:hover{
    color: black;
  }
  
  footer{
    background-color: black;
    padding-top: 25px;
    padding-bottom: 2px;
}

.logos{
  width: 18%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  padding-top: 20px;
}
  footer i{
    color: #504f55;
    font-size: 20px;
}
footer i:hover{
    color: #008ed6;
    cursor: pointer;
}

footer P{
    font-size: 14px;
    color: #504f55;
    font-weight: 500;
}