body {
    font-family: "Lato", sans-serif;
    background-color: #000;
}

.login-main-text {
    padding: 5px;
    color: #fff;
}

.login-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
    margin: 0 auto;
    padding: 20px;
    max-width: 500px;
  }
  
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
 