*{
    padding: 0;
    margin: 0;
}
body{
    background: #e2eaef;
}


.navbar {
    background-color: currentColor;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .navbar-light .navbar-nav .nav-link {
      color: white;
      font-size: 18px;
      padding: 0;
      margin-left:20px;
      position: relative;
  }
  
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
      font-weight: 400;
      color: #008ed6;
  }



.col-5 {
    margin-left: 55px;
    flex: 0 0 auto;
    width: 41.66666667%;
}
.btn-course{
    width: 150px;
    
    background: #1789c2;
    border-radius: 3px;
    color: white;
    margin-bottom: 30px;
    margin-top: 10px;
    
}
.btn-course:hover{
    color: white;
    background: #025a86;
    
}